{% block collectionSection %}
    <h2 class="title-collection"><a href="">Scooters</a></h2>
    <div class="line"></div>
    <div class="container">
        <div class='main-picture'>
            <a href=""><img class="main-picture" src="https://via.placeholder.com/416"/></a>
        </div>
        <div class='several-pictures'>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
        </div>
    </div>
    <h2 class="title-collection"><a href="">Scooter Accessories</a></h2>
    <div class="line"></div>
    <div class="container">
        <div class='main-picture'>
            <a href=""><img class="main-picture" src="https://via.placeholder.com/416"/></a>
        </div>
        <div class='several-pictures'>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
        </div>
    </div>
    <h2 class="title-collection"><a href="">Scooter Customizations</a></h2>
    <div class="line"></div>
    <div class="container">
        <div class='main-picture'>
            <a href=""><img class="main-picture" src="https://via.placeholder.com/416"/></a>
        </div>
        <div class='several-pictures'>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
            <a href=""><img class="collection-picture" src="https://via.placeholder.com/200x200"/></a>
        </div>
    </div>
{% endblock %}