
<div class="container">
    <div class='main-picture'>
        <img src="https://via.placeholder.com/316"/>
    </div>
    <div class='several-pictures'>
        <img class="collection-picture" src="https://via.placeholder.com/150x150"/>
        <img class="collection-picture" src="https://via.placeholder.com/150x150"/>
        <img class="collection-picture" src="https://via.placeholder.com/150x150"/>
        <img class="collection-picture" src="https://via.placeholder.com/150x150"/>
        <img class="collection-picture" src="https://via.placeholder.com/150x150"/>
        <img class="collection-picture" src="https://via.placeholder.com/150x150"/>
        <img class="collection-picture" src="https://via.placeholder.com/150x150"/>
        <img class="collection-picture" src="https://via.placeholder.com/150x150"/>
    </div>
</div>