
{% extends 'layout.html.twig' %}

{% block footer %}
<div class="container footer">
    <div class="row">
        <div class="col-3 offset-1">
            <ul class="footer-section">
                <li><h3>Title 1</h3></li>
                <li>element 1</li>
                <li>element 2</li>
                <li>element 3</li>
                <li>element 4</li>
            </ul>
        </div>
        <div class="col-3 offset-1">
            <ul class="footer-section">
                <li><h3>Title 2</h3></li>
                <li>element 1</li>
                <li>element 2</li>
                <li>element 3</li>
                <li>element 4</li>
            </ul>
        </div>
        <div class="col-3 offset-1">
            <ul class="footer-section">
                <li><h3>Title 1</h3></li>
                <li>element 1</li>
                <li>element 2</li>
                <li>element 3</li>
                <li>element 4</li>
            </ul>
        </div>
    </div>
    <p class="intouch">Stay in touch with us</p>
    <div class="social-media-icons">
        <div><a href="https://www.facebook.com"><img src="001-youtube.png" alt="Facebook"/></a></div>
        <div><a href="https://twitter.com"><img src="assets/images/layout-pictures/social-media-icons/004-twitter.png" alt="Twitter"/></a></div>
        <div><a href="https://www.youtube.com"><img src="/assets/images/layout-pictures/social-media-icons/001-youtube.png" alt="Youtube"/></a></div>
        <div><a href="https://www.instagram.com"><img src="/assets/images/layout-pictures/social-media-icons/002-instagram.png" alt="Instagram"/></a></div>
    </div>
    <div class="rights-reserved">
        <p>All rights reserved</p>
    </div>
</div>
{% endblock %}